* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    outline: none;
}

body {
    background-color: #f0f4f8;
}

#forecast-container {
    background-color: #f0f4f8;
    position: relative;
    display: flex;
    align-items: center;
    height: 20vh;
    min-height: 157px;
    margin: 10px 10px 0 10px;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 6px 1px rgba(0, 0, 0, 0.3);
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.15) transparent;
}

.forecast-card {
    background-color: white;
    position: relative;
    min-width: clamp(200px, 30%, 225px);
    width: 20%;
    height: 90%;
    min-height: 114px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.15s;
}

.forecast-card:hover {
    margin: 10px 10px -3px 10px;
    scale: 1.15;
}

.forecast-card-header {
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    top: -12px;
    left: 8px;
    height: 16px;
    border: 2px solid black;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    padding: 0 12px;
    font-weight: bold;
}

.forecast-card-information {
    text-align: center;
    transform: translate(0%, 35%);
}

.fa {
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    top: -12px;
    right: 5px;
    width: 50px;
    height: 18px;
    border: 2px solid;
    border-radius: 8px 8px 0 0;
    border-bottom: none;
    padding-top: 6px;
    font-size: 20px;
}

#main-container {
    background-color: #f0f4f8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: 30px 10px 0px 10px;
    height: 71vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#main-container h2 {
    font-size: 20px;
    font-weight: 600;
}

#main-container i {
    font-size: 55px;
    margin-top: 20px;
}

#current-information {
    position: relative;
    width: 100%;
}

.current-information-wrapper {
    position: relative;
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
}

.current-information-wrapper h1 {
    font-size: 35px;
    font-weight: 600;
}

.current-information-wrapper h1:nth-child(2) {
    font-size: 40px;
}

.current-information-wrapper h1:nth-child(4) {
    font-size: 25px;
    margin-top: 10px;
}

#current-information-icons {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 45px;
    flex-direction: row;
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
}

.current-information-icon h3 {
    font-weight: 400;
    font-size: 18px;
    margin-top: 8px;
}